button{
    width: 100px;
    height: 40px;
    background-color: pink;
    color: rgb(0, 0, 0);
    border-right-color:white;
    border-bottom-color: white;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: 0.7s;
    
}
body{
    background-color: black;
    color: white;
}
button:hover{
  
    transform: scale(1.1);

    color: rgb(255, 255, 255);
}

img{
    width: 250px;
    border-color: white;
    border-spacing: 10px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}